<VirtualHost *:80>
    ServerName khr_domain
    ServerAlias www.khr_domain
    ServerAdmin khr@localhost
    DocumentRoot /var/www/khr_domain
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
